<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Project Title</title>
	<%- include src/views/partials/head -%>
</head>
<body>
	<h1>Hello World -- Non-React</h1>
	<div id="react-wrapper"></div>
</body>
</html>
